<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <!-- <h4 no-margin>
        <ion-text color="light" class="fw700">
          PrestaTech
        </ion-text>
      </h4> -->
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.email">
        <p ion-text class="text08"
          *ngIf="onLoginForm.get('email').hasError(validation.type) && (onLoginForm.get('email').dirty || onLoginForm.get('email').touched)">
          <ion-text color="warning">
            {{validation.message}}
          </ion-text>
        </p>
      </ng-container>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="{{type}}" formControlName="password" [(ngModel)]="pwd" name="pwd" required>
        </ion-input>
        <ion-button *ngIf="!showPass && pwd !='' " color="app" fill="outline" slot="end" shape="round" size="small"
          (click)="showPassword()">
          <ion-icon color="light" name="eye"></ion-icon>
        </ion-button>
        <ion-button *ngIf="showPass && pwd !='' " color="app" fill="outline" slot="end" shape="round" size="small"
          (click)="showPassword()">
          <ion-icon color="light" name="eye-off"></ion-icon>
        </ion-button>


      </ion-item>
      <ng-container *ngFor="let validation of validation_messages.password">
        <p ion-text class="text08"
          *ngIf="onLoginForm.get('password').hasError(validation.type) && (onLoginForm.get('password').dirty || onLoginForm.get('password').touched)">
          <ion-text color="warning">
            {{validation.message}}
          </ion-text>
        </p>
      </ng-container>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToHome()"
        [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>

      <p text-center>
        <ion-text color="light">
          Or Signin with:
        </ion-text>
      </p>

      <ion-grid>
        <ion-row no-padding no-marging>
          <!--           <ion-col col-4 no-padding style="text-align:center">

          </ion-col> -->
          <ion-col col-4 no-padding style="text-align:center">
            <ion-button shape="round" color="fb">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="twitter">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="googlePlus">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
          <!--           <ion-col col-4 no-padding style="text-align:center">

          </ion-col> -->
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>