:host {
  ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-app));
  }

  ion-toolbar {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-app));
  }

  ion-list {
    &.list-md {
      padding: 0;
    }
  }
}
